{% extends "autoSched/base.html" %}
{% load static %}

{% block title %}Login - AutoSched{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'autosched/login.css' %}" />
{% endblock %}

{% block body %}

<section id="login-overlay">
    <div class="login-3d-card">
        <a href="{% url 'home' %}" class="close-btn">&times;</a>
        <div class="login-header">
            <h2>AutoSched</h2>
        </div>
        <div class="divider"><span></span></div>
        <form action="" method="POST" class="login-form-main">
            {% csrf_token %}
            {{form.email}}
            {{form.password}}
            <button type="submit" class="continue-btn">Log In</button>
        </form>
        <div class="reset">
            <a href="{% url 'Reset' %}" class="trouble-link">Forgot Password?</a>
        </div>
        <div class="divider"><span>OR</span></div>
        <a href="{% url 'Signup' %}">
            <button type="button" class="continue-btn" style="background:rgba(255,255,255,0.05); color:white;">Create new account</button>
        </a>
    </div>
</section>
{% endblock %}